body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
body .header {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--themeColor);
  color: #fff;
  text-align: center;
  font-size: 24px;
  writing-mode: vertical-lr;
  letter-spacing: 2em;
}
body .container {
  flex: 9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 84px;
}
body .container div[class^=rukou] {
  height: 160px;
  width: 100px;
  margin: 32px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: var(--themeColor);
  border-radius: 10px;
  box-shadow: #eaeaea 0px 4px 25px;
}
body .container div[class^=rukou] .iconfont {
  padding-right: 12px;
  font-size: 48px;
  font-weight: normal;
}
body .container div[class^=rukou]:hover {
  cursor: pointer;
  transform: scale(1.1);
}
