body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .header {
  flex: 2;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: var(--themeColor);
  color: #fff;
  text-align: center;
  font-size: 32px;
  padding-left: 42px;
  flex-grow: none;
  flex-shrink: none;
}
body .header .iconfont {
  font-size: 42px;
  padding-left: 8px;
  vertical-align: middle;
}
body .conditions {
  flex: 1;
  height: 100%;
  width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .conditions .choice1 {
  flex: 4;
  display: flex;
  justify-content: start;
  align-items: start;
}
body .conditions .choice1 div {
  width: 120px;
  margin-left: 32px;
  background-color: #e9e9e9;
  text-align: center;
  line-height: 30px;
  border-radius: 4px;
}
body .conditions .choice1 div:hover {
  background-color: var(--themeColor);
  color: #000000;
  box-shadow: #ccc 0 0 10px;
}
body .conditions .choice1 .y {
  background-color: var(--themeColor);
  color: #fff;
}
body .conditions .choice2 {
  flex: 6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .conditions .choice2 > div {
  flex: 1;
  text-align: center;
}
body .conditions .choice2 > select {
  flex: 3;
}
body .container {
  flex: 8;
  flex-grow: none;
  flex-shrink: none;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
}
body .container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
body .container::-webkit-scrollbar {
  width: 4px;
  background-color: skyblue;
}
body .container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--themeColor);
}
body .container .wrap {
  width: 1200px;
}
body .container .wrap > section {
  border-bottom: 1px #ccc solid;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 8px 0;
}
body .container .wrap > section .title {
  flex: 1;
  font-size: 18px;
  width: 150px;
  flex-shrink: none;
}
body .container .wrap > section .cardcon {
  flex: 6;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
}
body .container .wrap > section .cardcon .card {
  width: 30%;
  margin: 0 16px;
  flex-shrink: none;
}
body .container .wrap > section .cardcon .card .imgcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container .wrap > section .cardcon .card p:last-child {
  float: right;
  width: 100px;
  height: 32px;
  padding-top: 0px;
  background: #f1f1f1;
  line-height: 32px;
  border-radius: 4px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container .wrap > section .cardcon .card p:last-child:hover {
  background: #ccc;
  box-shadow: #ccc 0 0 10px;
}
body .container .wrap > section .cardcon .card p:last-child small {
  display: inline-block;
  color: #fff;
  font-weight: 800;
}
body .container .wrap .top {
  display: none;
}
